* {
  box-sizing: border-box;
}
body{
    margin: 0;
    font-size: 14px;
}
p{
    color:#929292;
}
.wrapper {
    width: 100%;
    position: relative;
}
.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.active{
  background: #dfecfc
}


.header{
    background: #0363d5;
    padding: 30px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1020;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.container-main{
    display: block;
    position: relative;
    clear: both;
}
.menu{
    list-style: none !important;
    display: block;
}
.menu>li {
    padding: 10px;
    position: relative;

}
.menu li a{
    text-decoration: none;
    color: #000000;
    /*#929292*/
}
.text {
    position: absolute;
    margin: 4px 4px 0px 12px;
}
.logo{
    margin-top: 20px;
    display: block;
    width: 50% !important;
    margin-left: 20% !important;
    border-radius: 50px;
    border: 1px solid #929292;
}
.sidebar{
    border-right: 1px solid #929292;
    float: left;
    width: 25%;
    width: 240px;
    height: 100vh;
    padding-top: 50px;
    position: relative;

}
.main{
    padding-top: 50px;
    text-align: center;
}
.btn{
    background: #0363d5;
    color: #ffffff;
    border: 1px solid #0363d5;
    border-radius: 5px;
    padding: 13px;
    width:150px;
}